
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*colors*/
    --paars: #5722CD;
    --lichtpaars: #F2F0FF;
    --blauw: #4845E4;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --grijs: #7A7A7A;
    --lichtgrijs: #F3F6F9;
    --wit: #FFFFFF;

/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    overflow-wrap: break-word;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* ------------------------------- 3. Layout --------------------------------------- */

.content-container {
    flex-basis: 500px;
}

/* ------------------------------- 4. Areas ---------------------------------------- */



/* --------------- 4.1 Header ------------------- */





/* --------------- 4.2 Introduction ------------- */

.intro {
    background-color: white;
}